*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

//navbar
nav{
    display: inline-flex;
    width: 94%;
    margin: 10px 20px;
    padding: 40px 0;
    align-items: center;
    justify-content: space-between;
}
nav ul li {
    display: inline-flex;
    float: right;
    list-style: none;
    margin-top: 10px;
    margin-right: 20px;
/*background-image: radial-gradient(circle farthest-side, white, skyblue);*/
background-color:	#55d0ff;
    padding: 5px 5px;
    text-align:right;
    border-radius: 14px 14px 14px 14px;
}

    nav ul li a {
        text-decoration: solid;
        color: black;
        text-shadow: 4px 4px 8px white;
        font-weight: bold;
        letter-spacing: 2px;
    }

        nav ul li a:hover {
            color: darkred;
        }

.detail{
    margin-right: 15%;
    margin-top: 17%;
}
.detail h1 {
            font-size: 50px;
            background: -webkit-radial-gradient(circle farthest-side, #FF1A1A, #f8b500);
              -webkit-background-clip: text;
              -webkit-text-fill-color: transparent;
            margin-bottom: 20px;
            float:right;
        }
.detail p {
    font-size: 20px;
background: -webkit-radial-gradient(circle farthest-side, yellow, skyblue);
              -webkit-background-clip: text;
              -webkit-text-fill-color: transparent;
    margin-right: -45%;
    margin-top: 10%;
    line-height: 28px;
    float:right;
}
.detail a{
    background: #212121;
    float:right;
    padding: 10px 18px;
    text-decoration: none;
    font-weight: bold;
    color: cyan;
    display: inline-block;
    margin-right: -29%;
    margin-top: 15%;
    border-radius: 5px;
}
.images{
    width: 43%;
    height: 85%;
    position: absolute;
    bottom: -20px;
    left: 50px;
}

    .images img {
        height: 120%;
        width: 90%;
        position: absolute;
        left: 40%;
        bottom: 0;
        transform: translateX(-50%);
        transition: bottom 1s, left 1s;
        opacity: 1.8;
/*        filter: saturate(1.7);*/
filter: grayscale(0.3);

/*
        filter:grayscale(60%)
*/

    }

.images:hover .boy{
    left: 70%;
}

/*
                                           //about page starts here
*/
.about{
     margin-right: 15%;
     margin-top: 0%;
}

.about h2 {
     font-size: 20px;
     color: cornflowerblue;
     margin-left: 27px;
}
/*.material-symbols-outlined {
     color: orange;
     height: 1px;
     margin-left: 30px;
     margin-top:20px;

     }*/
table {
  border-collapse: collapse;
  width: 95%;
  margin-left:3%;
}

th {
  border: 3px solid thistle;
background-image: radial-gradient(circle farthest-side, #fceabb, dimgray);
/*  text-shadow: 2px 2px 4px white;*/
  padding: 8px;
    text-shadow: 2px 2px 4px white;
  text-align: center;
  font-size: 35px;
  font-family: Times, "Times New Roman", Georgia, serif;
  background-color:dimgray;
}
td{
  text-align: center;
  border: 3px solid thistle;
  color:white;
  padding: 8px;
  font-size: 20px;
    font-family: cursive;
  text-shadow: 2px 2px 4px darkred;
background-color: #21d190;
background-color: #76daff;
background-image: linear-gradient(315deg, dimgray 0%, gray 74%);
}

tr:hover {
  background-color: black;
  opacity: 0.5;
  transition: 0.3s;
}
.edu{
text-align:center;
color: black;
background-color:  mediumspringgreen;
text-shadow: 2px 2px 4px white;
padding: 4px 4px;
  border-radius: 10px 10px 10px 10px;
  width:90%;
  margin-left:40px;
}
.abtname{
color: silver;
}
.skills{
  text-align:center;
  text-shadow: 3px 3px 4px white;
  padding: 4px 4px;
  border-radius: 20px 20px 20px 20px;
  width:50%;
    font-family: fangsong;
  margin-left:295px;
  position:relative;
  animation-name: example;
    animation-duration: 7s;
    animation-iteration-count: 1;
background-image: linear-gradient(to right, skyblue, mediumspringgreen);
}

@keyframes example {
  0%   {background-color:white; left:0px; top:0px;}
  25%  {background-color:cyan; left:325px; top:0px;}
  50%  {background-color:white; left:-325px; top:0px;}
  75%  {background-color:chartreuse; left:325px; top:0px;}
  100% {background-color:orange;left:0px; top:0px;}
}

.content p {
  font-family: emoji;
}
------------------------------------------------------------------------
/*
     skills timeline starts
*/

* {
  box-sizing: border-box;
}

body {
  font-family: Times-New-Roman;
}

/* The actual timeline (the vertical ruler) */
.timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
  content: '';
  position: absolute;
  width: 6px;
  background-color: white;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}

/* Container around content */
.container {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 56.5%;
  text-align:center;
  text-shadow: 2px 2px 4px white;
}

/* The circles on the timeline */
.container::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  right: -17.5px;
  background-color: olive;
  border: 4px solid #FF9F55;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

/* Place the container to the left */
.left {
  left: -6.75%;
}

/* Place the container to the right */
.right {
  left: 50%;
}

/* Add arrows to the left container (pointing right) */
.left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid white;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent darkgray;
}

/* Add arrows to the right container (pointing left) */
.right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent darkgray transparent transparent;
}

/* Fix the circle for containers on the right side */
.right::after {
  left: -16px;
}

/* The actual content */
.content {
  padding: 5px 5px;
background-image: linear-gradient(to right, #ff6e7f, #bfe9ff);
  opacity:1.9;
  position: relative;
  border-radius: 15px;
}

/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 600px) {
  /* Place the timelime to the left */
  .timeline::after {
  left: 31px;
  }

  /* Full-width containers */
  .container {
  width: 85%;
  padding-left: 70px;
  padding-right: 25px;
  }

  /* Make sure that all arrows are pointing leftwards */
  .container::before {
  left: 60px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent white transparent transparent;
  }

  /*
         Make sure all circles are at the same spot
   */
  .left::after, .right::after {
  left: 15px;
  }

  /*
        Make all right containers behave like the left ones
   */
  .right {
  left: 1%;
  }
}

/*
      button for interpersonal skills
*/

.button {
  border-radius: 4px;
background-image: radial-gradient(circle , #2c3e50, #4ca1af);
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 10px;
  width: 500px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 10px;
  margin-left: 50px;
}

.button span {
  cursor: pointer;
  font-family: ui-rounded;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
  color: black;
  text-shadow: 2px 2px 4px white;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

/*
      roles and responsibilities using labels
*/
div {
  margin-bottom: 15px;
  padding: 4px 12px;
}

.rep {
background-image: radial-gradient(circle, #FFD194, #D1913C);

  text-align:center;  color:black;
  text-shadow: 2px 2px 4px white;
  border-left: 6px solid #f44336;
}
.rep p{
font-family: ui-monospace;
}

.placement {
background-image: radial-gradient(circle, #FFD194, #D1913C);
  text-align:center;  color:black;
  text-shadow: 2px 2px 4px white;
  border-left: 6px solid #04AA6D;
}
.placement p{
font-family: ui-monospace;
}

.coordinator {
background-image: radial-gradient(circle, #FFD194, #D1913C);
  text-align:center;
  color:black;
  text-shadow: 2px 2px 4px white;
  border-left: 6px solid #2196F3;
}
.coordinator p{
font-family: ui-monospace;
}

.organizer {
background-image: radial-gradient(circle, #FFD194, #D1913C);
  text-align:center;  color:black;
  text-shadow: 2px 2px 4px white;
  border-left: 6px solid #ffeb3b;
}
.organizer p{
font-family: ui-monospace;
}
/*.roles{
    text-align:center;
    background-image: linear-gradient(to right, #FFD194, #D1913C);
    text-shadow: 2px 2px 4px antiquewhite;
    padding: 3px 3px;
    border-radius: 2px 2px 2px 2px;
    width:30%;
    margin-left:0px;
}*/

/*
         //projects page starts here
*/

.projects {
  text-align:center;
  font-size:40px;
  color: white;
    text-shadow: 4px 4px 8px black;
/*
background: repeating-radial-gradient(circle closest-corner at 100px 100px, #553c9a, #b393d3 10%, #553c9a 20%);
*/

  padding: 4px 4px;
  border-radius: 10px 10px 10px 10px;
  width:100%;
  margin-top: 30px;
  margin-left:0px;
  font-family:"Playfair Display", serif;
  text-transform:uppercase;
  letter-spacing: 10px;

    animation: cursor 1s infinite step-end, typing 20s infinite steps(60);
    white-space: nowrap;
    overflow: hidden;
}
@keyframes typing{
  0%{ width: 0ch} /*Text is hidden*/
  30%{ width: 60ch;} /*The enitre header will be typed out*/
  80%{ width: 0ch;} /*Text stays visible*/
  90%{ width: 0ch;} /*Text is deleted*/
  100%{ width: 0ch;} /*Text stays hidden*/
}

/*
             // flip cards starts here
*/
          /*/flip card 1 for lex project*/

body {
  font-family: Arial, Helvetica, sans-serif;
}

.flip-card {
  background-color: transparent;
  width: 300px;
  height: 300px;
  text-shadow: 2px 2px 4px #b6fbff;
  perspective: 1000px;
  margin-left:50px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
.flip-card-inner p{
color:black;
text-shadow: 2px 2px 4px white;
}
.flip-card-inner h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    margin-top:110px;
    background: -webkit-radial-gradient(circle , 315deg, #d2a813 0%, #000000 74%);
                  -webkit-background-clip: text;
                  -webkit-text-fill-color: black;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 300px;
  height: 300px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
background-color: #ffffff;
background-image: linear-gradient(315deg, #ffffff 0%, #91a6ff 74%);

  color: black;
}

.flip-card-back {
  background-color: #2980b9;
  color: black;
  text-shadow: 2px 2px 4px white;
  transform: rotateY(180deg);
}

/*
          // flip card 2 for java project
*/
.flip-card2 {
  background-color: transparent;
  width: 300px;
  height: 300px;
  margin-top: -316px;
  text-shadow: 2px 2px 4px #b6fbff;
  perspective: 1000px;
  margin-left:465px;
}

.flip-card-inner2 {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
.flip-card-inner2 p{
color:black;
text-shadow: 2px 2px 4px white;
}
.flip-card-inner2 h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    margin-top:120px;
    background: -webkit-radial-gradient(circle , 315deg, #d2a813 0%, #000000 74%);
                  -webkit-background-clip: text;
                  -webkit-text-fill-color: black;
}

.flip-card2:hover .flip-card-inner2 {
  transform: rotateY(180deg);
}

.flip-card-front2, .flip-card-back2 {
  position: absolute;
  width: 300px;
  height: 300px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front2 {
background-color: #ffffff;
background-image: linear-gradient(315deg, #ffffff 0%, #91a6ff 74%);

  color: black;
}

.flip-card-back2 {
  background-color: #2980b9;
  color: black;
  text-shadow: 2px 2px 4px white;
  transform: rotateY(180deg);
}

/*
          // flip card 3 for website project
*/
.flip-card3 {
  background-color: transparent;
  width: 300px;
  height: 300px;
  margin-top: -315px;
  text-shadow: 2px 2px 4px #b6fbff;
  perspective: 1000px;
  margin-left:865px;
}

.flip-card-inner3 {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
.flip-card-inner3 p{
color:black;
text-shadow: 2px 2px 4px white;
}
.flip-card-inner3 h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    margin-top:120px;
    background: -webkit-radial-gradient(circle , 315deg, #d2a813 0%, #000000 74%);
                  -webkit-background-clip: text;
                  -webkit-text-fill-color: black;
}

.flip-card3:hover .flip-card-inner3 {
  transform: rotateY(180deg);
}

.flip-card-front3, .flip-card-back3 {
  position: absolute;
  width: 300px;
  height: 300px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front3 {
background-color: #ffffff;
background-image: linear-gradient(315deg, #ffffff 0%, #91a6ff 74%);

  color: black;
}

.flip-card-back3 {
  background-color: #2980b9;
  color: black;
  text-shadow: 2px 2px 4px white;
  transform: rotateY(180deg);
}

/*
          // flip card 4 for ug project
*/
.flip-card4 {
  background-color: transparent;
  width: 300px;
  height: 300px;
  margin-top: 50px;
  text-shadow: 2px 2px 4px #b6fbff;
  perspective: 1000px;
  margin-left:250px;
}

.flip-card-inner4 {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
.flip-card-inner4 p{
color:black;
text-shadow: 2px 2px 4px white;
}
.flip-card-inner4 h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    margin-top:120px;
    background: -webkit-radial-gradient(circle , 315deg, #d2a813 0%, #000000 74%);
                  -webkit-background-clip: text;
                  -webkit-text-fill-color: black;
}

.flip-card4:hover .flip-card-inner4 {
  transform: rotateY(180deg);
}

.flip-card-front4, .flip-card-back4 {
  position: absolute;
  width: 300px;
  height: 300px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front4 {
background-color: #ffffff;
background-image: linear-gradient(315deg, #ffffff 0%, #91a6ff 74%);

  color: black;
}

.flip-card-back4 {
  background-color: #2980b9;
  color: black;
  text-shadow: 2px 2px 4px white;
  transform: rotateY(180deg);
}

/*
          // flip card 5 for cad project
*/
.flip-card5 {
  background-color: transparent;
  width: 300px;
  height: 300px;
  margin-top: -315px;
  text-shadow: 2px 2px 4px #b6fbff;
  perspective: 1000px;
  margin-left:675px;
}

.flip-card-inner5 {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
.flip-card-inner5 p{
color:black;
text-shadow: 2px 2px 4px white;
}
.flip-card-inner5 h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    margin-top:120px;
    background: -webkit-radial-gradient(circle , 315deg, #d2a813 0%, #000000 74%);
                  -webkit-background-clip: text;
                  -webkit-text-fill-color: black;
}

.flip-card5:hover .flip-card-inner5 {
  transform: rotateY(180deg);
}

.flip-card-front5, .flip-card-back5 {
  position: absolute;
  width: 300px;
  height: 300px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front5 {
background-color: #ffffff;
background-image: linear-gradient(315deg, #ffffff 0%, #91a6ff 74%);
  color: black;
}

.flip-card-back5 {
  background-color: #2980b9;
  color: black;
  text-shadow: 2px 2px 4px white;
  transform: rotateY(180deg);
}

/*
           //subtitles font color
*/

.flip-card-back h2{
background-color: #ffffff;
background-image: linear-gradient(315deg, #ffffff 0%, #ff7878 74%);

}
.flip-card-back2 h2{
background-color: #ffffff;
background-image: linear-gradient(315deg, #ffffff 0%, #ff7878 74%);

}
.flip-card-back3 h2{
background-color: #ffffff;
background-image: linear-gradient(315deg, #ffffff 0%, #ff7878 74%);

}
.flip-card-back4 h2{
background-color: #ffffff;
background-image: linear-gradient(315deg, #ffffff 0%, #ff7878 74%);

}
.flip-card-back5 h2{
background-color: #ffffff;
background-image: linear-gradient(315deg, #ffffff 0%, #ff7878 74%);

}

/*
      //image gallery for chat bot
*/

.lex h1{
background: -webkit-linear-gradient(to right, #0099f7, #f11712);
                  -webkit-background-clip: text;
                  -webkit-text-fill-color: white;

text-align: center;
text-shadow: 2px 2px 4px green;
font-size:40px;
}


div.gallery {
  border: 10px solid red;
}

div.gallery:hover {
  border: 7px solid ;
  border-color:green;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 9px;
  color:white;
  font-size:25px;
  background-image: linear-gradient(-20deg, #00cdac 0%, #8ddad5 100%);

  text-shadow: 2px 2px 4px red;
  text-align: center;
}

* {
  box-sizing: border-box;
}

.responsive {
  padding: 8px;
  float: left;
  width: 24.99999%;
}

@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    margin: 6px;
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}


/*
          //certifications page starts here
*/

.certifications h1{
font-family: Times-New-Roman;
color:yellow;
background-image: radial-gradient( circle 759px at -6.7% 50%, rgba(80,131,73,1) 0%, rgba(140,209,131,1) 26.2%, rgba(178,231,170,1) 50.6%, rgba(144,213,135,1) 74.1%, rgba(75,118,69,1) 100.3% );
width:50%;
margin-left: 325px;
background-opacity:0.5;
  border-radius: 20px 20px 20px 20px;
text-align:center;
text-shadow: 3px 3px 4px black;
}

/*
         //certifications timeline
*/


* {
  box-sizing: border-box;
}

body {
  font-family: Helvetica, sans-serif;
}

/* The actual timeline (the vertical ruler) */
.timeline2 {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}

/* The actual timeline (the vertical ruler) */
.timeline2::after {
  content: '';
  position: absolute;
  width: 6px;
  background-color: white;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}

/* Container around content */
.container2 {
  padding: 20px 60px;
  position: relative;
  background-color: inherit;
  width: 656px;
  text-align:center;
  text-shadow: 2px 2px 4px white;
}

/* The circles on the timeline */
.container2::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  right: -15.75px;
  background-color: olive;
  border: 4px solid #FF9F55;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

/* Place the container to the left */
.left {
  left: -5.75%;
}

/* Place the container to the right */
.right {
  left: 50%;
}

/* Add arrows to the left container (pointing right) */
.left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 30px;
  width: 2px;
  z-index: 1;
  right: 50px;
  border: medium solid white;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent darkgray;
}

/* Add arrows to the right container (pointing left) */
.right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 30px;
  width: 0;
  z-index: 1;
  left: 50px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent darkgray transparent transparent;
}

/* Fix the circle for containers on the right side */
.right::after {
  left: -16px;
}

/* The actual content */
.content2 {
  padding: 10px 10px;
background-image: linear-gradient( 109.6deg, rgba(156,252,248,1) 11.2%, rgba(110,123,251,1) 91.1% );
font-size:20px;
  opacity:1.9;
  position: relative;
  border-radius: 15px;
}

/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 600px) {
  /* Place the timelime to the left */
  .timeline::after {
  left: 31px;
  }

  /* Full-width containers */
  .container2 {
  width: 100%;
  padding-left: 70px;
  padding-right: 35px;
  }

  /* Make sure that all arrows are pointing leftwards */
  .container2::before {
  left: 60px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent white transparent transparent;
  }

  /*
         Make sure all circles are at the same spot
   */
  .left::after, .right::after {
  left: 15px;
  }

  /*
        Make all right containers behave like the left ones
   */
  .right {
  left: 0%;
  }
}

/*
         //contact page starts here
*/

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 390px;
  margin-top: 1px;
  color: white;
background-image: linear-gradient(to right, #0f0c29, #302b63, #24243e);

  text-shadow: 2px 2px 4px dimgray;
  margin-left: 435px;
  text-align: center;
  font-family: Times-New-Roman;
}

.title {
  color: cornflowerblue;
  text-shadow: 2px 2px 4px black;
  font-size: 18px;
}

button {
  border-radius: 10px 10px 10px 10px;
  outline: 0;
  display: inline-block;
  padding: 10px;
  color: white;
background-image: radial-gradient( circle 759px at -6.7% 50%, rgba(80,131,73,1) 0%, rgba(140,209,131,1) 26.2%, rgba(178,231,170,1) 50.6%, rgba(144,213,135,1) 74.1%, rgba(75,118,69,1) 100.3% );

  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 22px;
}

button:hover, a:hover {
  opacity: 1.7;
}

.inside{
background-color: #b8c6db;
background-image: linear-gradient(315deg, #b8c6db 0%, #f5f7fa 74%);
}
